*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --white-color:rgb(255, 255, 255);
    --primary-color:#FF6600;
    --secondary-color:#FFC600;
    --text-gray-color: #75767A;
    --text-light-pink-color:#ffdfc9;
    --background-dark-mode:#232220;
    --text-darkmode-color:#c2d0da;
    --font-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
    --heading-color: #232121;
    --border-radius: 6px;
    --border-radius-full: 35px;
    --border-color: transparent;
    --border-color-light: #eee;
    --nav-color: #232121;
    --dropdown-color: #fff;
    --iframe-filter: grayscale(0%);
    --bg-light: rgba(130, 115, 252, .05);
    --bg-grey: #f7f7f7;
    --footer-bg: #000;
    --card-bg: #fff;
}

/* ------------------------Start Header------------------------*/

/* Common section */

.section-header{
    font-family: 'Pacifico', cursive;
    color: var(--primary-color);
    font-size: 20px;
}

.section-decription{
    font-size: 38px;
    font-weight: 600;
}

/* Header */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__section{
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
}  

.header__section-right{
    display: flex;
    align-items: center;
}

.header__logo:hover{
    text-decoration: none;
}

.header__logo p{
    margin: 0;
    color: var(--white-color);
    font-size: 36px ;
    font-weight:700 ;
}

.header__search input{
    border: none;
    background-color: transparent;
}

.header__search input:focus{
    outline: none;
}

.header__search i{
    cursor: pointer;
}

.header__search{
    padding: 11px 20px 11px 22px;
    background-color: var(--white-color);
    border-radius: 6px;
}

.header__search i{
    color: var(--text-gray-color);
    font-size: 15px;
}

.header__dark-mode-btn{
    font-size: 22px;
    padding: 0 5px;
    margin: 0 18px;
    color: var(--white-color);
}

.header__dark-mode-btn span{
    user-select: none;
}

.header__menu{
    font-size: 30px;
    font-weight: 800;
    color: var(--white-color);
}

.header__menu:hover {
    color: var(--white-color);
}


/* Banner Info Section */

.banner__info{
    padding-top: 200px;
    padding-bottom: 114px;
    background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../asset/img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
}

.banner__info-content{
    max-width:600px;
    color: var(--white-color);
}

.banner__info-content h3{
    font-size: 54px;
    font-weight: 600;
    
}

.banner__info-content p{
    margin-top: 32px;
}
 
.banner-button>a:first-child{
  background-color: transparent;
  border: 2px solid white;
}

.banner-button>a:first-child:hover{
  background-color: white;
}

.read-more-btn{
    display: block;
    width: 200px;
    height: 58px;
    border: 2px solid var(--white-color);
    line-height: 54px;
    text-align: center;
    font-weight: 700;
    border-radius: 6px;
    margin-top: 54px;
    user-select: none;
    transition: all .4s;
    cursor: pointer;
    color:var(--white-color) ;
}

.read-more-btn:hover{
    background-color: white;
    color: var(--primary-color);
    text-decoration: none;
}

/* Modal Section */

.modal-menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(6 3 0 / 77%) ;
    z-index: 1;
    transform: all .4s;
    animation: fadeInModal ease .3s ;
}

.modal-menu[closing]{
    pointer-events: none;
    inset: 0;
    animation: fadeOutModal ease .3s;
}

.modal-menu__list{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    list-style: none;
}

.modal-menu__list-item{
    padding: 8px 10px;
}

.modal-menu__link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    transition: all .3s;
}

.modal-menu__link:hover{
    text-decoration: none;
    color: var(--primary-color);
}

.modal-menu__btn{
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: var(--white-color);
    border-radius: 6px;
    cursor: pointer;
}

@keyframes fadeInModal{
    from{
        opacity: .7;
        transform: scale(.8);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeOutModal{
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform:  scale(.8);
    }
}

/* About section */

.about{
    padding: 100px 0;
}

.about-container{
    display: flex;
}

.about__left-section{
    width: 40%;
}

.about__right-section{
    width: 60%;
    padding-left: 30px;
}

.about__right-section p{
    font-size:18px ;
    color: var(--text-gray-color);
}

/* Booking Section */

.booking{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}

.booking-img{
    min-height: 600px;
    background-image: url(../asset/img/banner3.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    position: relative;
}

.booking-img::after{
    content: "";
    background-image: rgb(16 15 19 / 46%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(16 15 19 / 46%) ;
}

.booking-content .section-header{
    color: var(--white-color);
}

.booking-content p{
    color: var(--text-light-pink-color);
    font-size: 18px;
}

.booking-list{
    margin-top: 50px;
}

.booking-item__btn{
    height: 70px;
    width: 70px;
    background-color: white;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    border-radius: 6px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.booking-item__link{
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.booking-item__link:hover{
    text-decoration: none;
    color: black;
}

.booking-list__item p{
    margin-top: 16px;
}

.booking-item__btn i{
    transition: all .3s;
}

.booking-list__item:hover .booking-item__btn i{
    color: var(--secondary-color);
}

/* categories Section */

.categories{
    padding: 100px 0;
    background-color:#F7F7F7 ;
}

.categories__list{
    margin-top: 60px;
}

.categories-header{
    text-align: center;
}

.categories__item{
    position: relative;
    border-radius: 6px;
}

.categories__item-img img{
    width: 100%;
    transition: all .4s;
    border-radius: 6px;

}

.categories__item:hover img{
    opacity:.85 ;
}

.categories__item-caption{
    position: absolute;
    top: 60%;
    padding-left: 10%;
    padding-top: 20%;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.categories__item-caption__content a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 0 20px 0 0;
}

.categories__item-caption__content p{
    padding-top: 8px;
    font-size: 18px;
    color: #ECBA07;
    font-weight: 700;
    user-select: none;
}

/* ------------------------End Header------------------------*/

/* ------------------------Start Middle------------------------*/
/* start services */
.home-services{
    position: relative;
}

.services-item{
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: var(--bg-color);
    transition: all 0.5s ease 0s;
    border: 1px solid var(--border-color-light);
    position: relative;
    border-radius: 8px;
    padding: 40px 40px;
} 

.services-item:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.services-item-grid{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
}

.services-item .icon{
    width: 70px;
    height: 70px;
    background-color: rgba(130, 115, 252, .05);
    color: var(--primary-color);
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
}

.services-item:hover .icon{
    background-color: var(--primary-color);
    color: var(--border-color-light);
}

.services-item .info p{
    color: #161C2DB3;
    margin: 0;
    font-size: 18px;
}

.services-item .info h4 a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 700;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
    padding-left: 0px;
}

.info h4:hover a{
    color: var(--primary-color);
}

.services-item div p{
    opacity: .8;
    text-align: inherit;
    font-size: 16px;
    margin-top: 1px !important;
    margin-bottom: 0px;
}

.services-item div p:hover .info h4{
    color: var(--primary-color);
}


@media (max-width: 1080px){
    .services-item p {
      font-size: 17px;
    }
  
    .services-item .info h4 a{
        font-size: 20px;
    }
}
  
@media (max-width: 415px){
    .services-item {
      padding: 30px 30px;
    }
}
/* end sevices */

/* start middle */
.middle{
    background-image: url(../asset/img/banner2.jpg);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.middle::after{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}

.banner{
    max-width: 700px;
    margin: 0 auto;
}

.banner-title{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: var(--card-bg);
    max-width: 800px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.btn-white, .btn-orange {
    background: transparent;
    border: 2px solid var(--card-bg);
    color: var(--card-bg);
}

.btn-style, .btn-white {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    text-decoration: none;
}

.btn-orange{
    padding: 12px 45px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.btn-white:hover{
    background-color: var(--card-bg);
    color: var(--primary-color);
}

.btn-orange:hover{
    opacity: .8;
    color: var(--card-bg);
}


@media (max-width: 736px) {
    .banner h3 {
      font-size: 35px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 415px) {
    .banner h3 {
      font-size: 26px;
      line-height: 34px;
    }
  
    .banner span {
      font-size: 18px;
      line-height: 28px;
    }
  }
/* end middle */

/* start number-counter */
.number-counter{
    margin-top: -70px;
    z-index: 10;
    position: relative;
}

.counter-item{
  background-color: var(--bg-color);
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: .3s ease;
}

.counter-item:hover {
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
    transition: .3s ease;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.counter-item span.fa{
    background: var(--primary-color);
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: var(--card-bg);
    text-align: center;
}

.counter-item span.las{
    background: var(--primary-color);
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: var(--card-bg);
    text-align: center;
}

.lar{
    background: var(--primary-color);
    font-size: 35px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    color: var(--card-bg);
    text-align: center;
}

.timer {
    font-size: 2.6em;
    font-weight: 600;
    color: var(--heading-color);
}


.counter-text {
    text-transform: capitalize;
    color: var(--font-color);
    font-weight: 600;
}

@media (max-width:992px) {
    .number-counter{
      margin: 40px 10px 5px 10px;
    }
  }
  
  @media (max-width: 640px) {
    .timer{
      font-size: 2em;
    }
  
    .number-counter-item {
      text-align: center; 
    }
  }
  
  @media (max-width: 480px) {
    .number-counter p {
        font-size: 0.9em;
    }
  }
  /* end number-counter */

/* start video */
.video-img{
    background-color: var(--bg-color);
}

.video-food .history-info {
    background-image: url(../asset/img/banner3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    min-height: 500px;
    border-radius: var(--border-radius);
}

.video-food .history-info:before {
    content: "";
    background: rgb(16 15 19 / 60%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: var(--border-radius);
}

.video-food span.video-play-icon:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
    background: var(--primary-color);
    border: transparent;
    color: #fff;
  }
  
.video-food .play-view {
    left: 0;
    right: 0;
    top: calc(50% - 40px);
  }
  
.video-food span.video-play-icon{
    display: inline-block;
    width: 80px;
    height: 80px;
    font-size: 26px;
    padding-left: 2px;
    text-align: center;
    line-height: 76px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    animation: ripple 1s linear infinite;
    color: var(--primary-color);
    border: transparent;
    background: #fff;
  }

#small-dialog{
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}
  
div#small-dialog iframe{
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
    border: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-close-btn-in .mfp-close{
    line-height: 40px;
    position: absolute;
    right: 0px;
    top: -40px;
    padding: 0 0 18px 24px;
    color: #fff;
    background: transparent;
}

@media all and (max-width: 900px){
    .video-food .history-info {
      min-height: 400px;
    }
}
  
@media all and (max-width:640px){
    .video-food .history-info {
      min-height: 350px;
    }
}
  
@media all and (max-width:380px){
    .video-food .history-info {
      min-height: 300px;
    }
}
/* end number-counter */
  

/* animation */
@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
    }
  
    100% {
      box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
    }
  }
/* ------------------------End Middle------------------------*/

/* start blog */
.blogposts {
  background: #f7f7f7;
  display: block;
}

/* .text-center {
  text-align: center !important;
} */

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
}

.title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.blogposts .card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.blogposts .card-title {
  border: none;
  position: relative;
}

.card-title a {
  color: white;
}

.radius-image {
  border-radius: 6px;
}

.post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.blogposts a.receipe {
  background: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogposts .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}

.blogposts a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: black;
  margin-top: 25px;
  margin-bottom: 15px;
}

.blogposts .card-body p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.blogposts .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.blogposts .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogposts .p-meta-info a {
  font-weight: 700;
  color: #232121;
  letter-spacing: 0.02em;
}

.blogposts .post-img-anchor {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.blogposts .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}

.blogposts a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #232121;
  opacity: 0.9;
}

.blogposts a.read:hover {
  color: #ff6600;
}
/* end blog */

/* start testimonial */
.clients a.comment-img {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.clients .testimonial img {
  width: 100%;
  min-height: 100%;
  object-position: center;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}

.clients blockquote q::before {
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}

.testimonial p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none;
}

.owl-dots .active span {
  background: #ff6600 !important;
}
/* end testinomial */

/* start footer */
.footer-29-main {
  background: #000;
}

.footer-29 .container .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-29-main a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}

.footer-29-main p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.main-social-footer-29 a {
  margin-right: 10px;
  color: #ff6600;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: #fff;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  transition: 0.3s;
}

.main-social-footer-29 a span.fa-brands {
  line-height: 36px;
}

.main-social-footer-29 a:hover {
  background: #ff6600;
  transition: 0.3s;
  color: #fff;
}

.footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}

.footer-list-29 ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-list-29 ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}

.footer-list-29 ul li a:hover {
  color: #ff6600;
  transition: 0.3s;
}

.footer-29-main .footer-29 form {
  position: relative;
}

.footer-29-main input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: rgba(22, 28, 45, 0.7);
  background: #fff;
  border-radius: 6px;
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
  color: #fff;
  background-color: #ff6600;
}

.copyright {
  padding: 1.2em 0;
  background: #000;
  border-top: 1px solid rgba(247, 244, 244,0.1);
}

.copyright .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}

.copyright .copy-footer-29 a {
  color: #ff6600;
}

.copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #ff6600;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
/* end footer */

/* Implement */

.card-body a{
  text-decoration: none;
}
