/* Mobile and Tablet */
@media (max-width: 1023px){
    .about-container{
        flex-direction: column;
    }

    .about__left-section{
        width: 100%;
    }

    .about__right-section{
        width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width: 1023px){
    .banner__info-content h3{
        font-size: 44px;
    }
    .banner__info{
        padding-bottom: 204px;
        padding-top: 200px;
    }

    .section-decription{
        font-size: 32px;
    }

    .booking-img{
        min-height: 200px;
    }

    .categories__list{
        margin-top: 10px;
    }
}

/* Mobile */

@media (max-width: 739px){
    .header__search{
        display: none;
    }

    .banner__info-content h3{
        font-size: 28px;
    }

    .banner__info{
        padding-top: 150px;
        padding-bottom: 60px;
    }

    .read-more-btn{
        width: 140px;
        height: 50px;
        line-height: 46px;
    }

    .section-decription{
        font-size: 26px;
    }

    .about__right-section p{
        font-size: 16px;
    }

    .about{
        padding: 50px 0;
    }

    .booking-img{
        min-height: 200px;
    }

    .booking-content p{
        font-size: 16px;
    }

    .categories__list{
        margin-top: 10px;
    }

    .categories__item-caption__content a{
        font-size:18px ;
    }

    .categories__item-caption__content p{
        font-size:16px ;
    }

    .categories{
        padding-top: 50px;
    }

    .categories__item-caption {
        padding-top: 10%;
    }

}